.legendList {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  list-style: none; /* Remove default bullets */
}

.legendList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bulletLabel {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.cirecleBullet {
  border-radius: 50%;
}

.bulletLabelText {
  margin-left: 10px;
  color: #7e7e89;
}

.centeredLabelValue {
  font-size: 36px;
  font-weight: 600;
  fill: #0088fe;
}
